@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
  font-style: normal;
  font-weight: 100 900;
}

@theme {
  --font-main: 'Inter';

  --color-grey-500: #5e6e85;
  --color-grey-300: #acc1de;
  --color-blue-900: #253347;
  --color-blue-500: #345ff6;
  --color-blue-300: #b3d3f1;
  --color-blue-100: #e1e7fe;
}

@layer components {
  .text-preset-1 {
    @apply text-[64px] font-semibold leading-[110%] tracking-[-0.05em];
  }

  .text-preset-2 {
    @apply text-[48px] font-semibold leading-[110%] tracking-[-0.05em];
  }

  .text-preset-3 {
    @apply text-[32px] font-semibold leading-[110%] tracking-[-0.05em];
  }

  .text-preset-4 {
    @apply text-[24px] font-semibold leading-[120%] tracking-[-0.05em];
  }

  .text-preset-5 {
    @apply text-[20px] font-semibold leading-[120%] tracking-[-0.05em];
  }

  .text-preset-6 {
    @apply text-[16px] leading-[150%];
  }

  .text-preset-7 {
    @apply text-[14px] leading-[150%];
  }
}

.hero {
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(214, 252, 254, 0.5) 50%,
    rgba(214, 230, 254, 1) 100%
  );
}

.gradient-1 {
  background: #d6fcfe;
  background: linear-gradient(
    90deg,
    rgba(214, 252, 254, 0) 0%,
    rgba(214, 230, 254, 0.6) 100%
  );
}

.result-card {
  border-radius: 16px;
}

@media (min-width: 640px) {
  .result-card {
    border-radius: 24px 150px 150px 24px;
  }
}

@media (min-width: 769px) {
  .bmi-info-section {
    justify-content: center;
    padding-right: 36px;
  }

  .bmi-info-section > div {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .bmi-info-section {
    padding-left: 36px;
  }
}

@media (min-width: 1280px) {
  .bmi-info-section {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
